
@media screen and (min-width: 440px){
  h1 {
    font-size: 40px;
  }
  .score-panel {
      margin-bottom: 10px;
      font-size: 30px;
  }
  .deck {
      width: 400px;
      min-height: 400px ;
      padding: 13px;
  }
  .flip-container, .front, .back {
      min-height: calc(330px/4);
      width: calc(330px/4);
  }
  .open {
      font-size: 50px;
  }
  .match {
      font-size: 50px;
  }

  .noMatch {
      font-size: 50px;
  }
  .modal-content {
      font-size: 20px;
  }
  #playButton{
      font-size: 40px;
  }
}

@media screen and (min-width: 640px){
  h1 {
    font-size: 40px;
  }
  .score-panel {
      margin-bottom: 10px;
      font-size: 40px;
  }
  .deck {
      width: 500px;
      min-height: 500px ;
      padding: 17px;
  }
  .flip-container, .front, .back {
      min-height: calc(400px/4);
      width: calc(400px/4);
  }
  .open {
      font-size: 60px;
  }
  .match {
      font-size: 60px;
  }

  .noMatch {
      font-size: 60px;
  }
  .modal-content {
      font-size: 60px;
  }
}
